<h1>Projects</h1>
<form class="search" >
    <label>Seach: </label>
    <input type="text">
    <input type="submit" value="Search">
</form>
<div class="projects">
    <div class="project">
        <h2>Interactive</h2>
        <h3>Team: No Team assigned</h3>
        <p>Description: Interactive platform for SoftUni</p>
    </div>
    <div class="project">
        <h2>Blood Donnorship</h2>
        <h3>Team: Students</h3>
        <p>Description: Create blood donnorship application</p>
    </div>
</div>