<h1>Register</h1>
<div class="form">
    <form>
        <label for="name">Username:</label>
        <input type="text"><br>

        <label for="name">Password:</label>
        <input type="password"><br>

        <label for="name">First name:</label>
        <input type="text"><br>

        <label for="name">Last name:</label>
        <input type="text"><br>

        <label for="name">Profile Picture:</label>
        <input type="text"><br>

        <input type="submit" value="Register">
    </form>
</div>