<h1>My Profile</h1>
<div class="profile-box">
    <img src="https://themes.gohugo.io//theme/hugo-geo//img/profile.png">
    <div class="profile">
        <div class="info">
            <h3>My Teams</h3>
            <form>
                <p>Developers</p>
                <input type="submit" value="Leave Team">
            </form>
        </div>
        <div class="more-info">
            <h3>My Projects</h3>
            <p>You have no projects!</p>
        </div>
    </div>
</div>