<!DOCTYPE html>
<html lang="en">

<head>
    <head>
        <meta charset="UTF-8">
        <title>Express Retake Exam January 2019</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link href="/static/resources/site.css" type="text/css" rel="stylesheet">
    </head>
</head>
<body>

   <header>
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
           {{> navbars/navbar}}
       </nav>
   </header>

   <main>
       {{{body}}}
   </main>

   <footer class="page-footer font-small">
       {{> footers/footer}}
   </footer>

</body>
</html>