<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<th:block sec:authorize="isAnonymous()">
    <th:block th:insert="navbars/navbar-guest"></th:block>
</th:block>

<th:block sec:authorize="isAuthenticated()">

    <th:block th:switch="${@userRoleServicesImp.getRole(#authentication.principal)}">
        <div th:case="'USER'">
            <th:block th:insert="navbars/navbar-user"></th:block>
        </div>
        <div th:case="'ADMIN'">
            <th:block th:insert="navbars/navbar-admin"></th:block>
        </div>
    </th:block>
</th:block>
