<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
    <ul class="navbar-nav right-side">
        <li class="nav-item">
            <a class="nav-link nav-link-white active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-white active" href="/channel/followed">My Channels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-white active" href="/channel/create">Create Channel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-white active" href="/logout">Logout</a>
        </li>
    </ul>
</div>