<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Suppliers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<th:block th:insert="~{navigation}"></th:block>
<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Edit</td>
    </tr>
    <th:block th:each="supplier : ${suppliers}">
        <tr>
            <td th:text="|${supplier.getId()}.|"></td>
            <td th:text="|${supplier.getName()}|"></td>
            <td><a th:href="|@{/suppliers/edit/{id}(id=${supplier.getId()})}|">Edit</a></td>
        </tr>
        <!--<tr>-->
        <!--<td colspan="2" th:text="${user.address}">...</td>-->
        <!--</tr>-->
    </th:block>
</table>
</body>
</html>