<main class="mt-3">
    <h4 class="text-mishmash text-center">Welcome, Admin-{{user.username}}!</h4>
    <h5 class="text-mishmash">Your channels</h5>
    <hr class="hr-2 bg-mishmash">
    <div class="followed-channels-holder">
        <div class="channels-row row ">
            <div class="channel col mx-3 bg-mishmash rounded py-3">
                <h6 class="channel-name text-white text-center">SoftUni</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">Lesson Channel</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">10000 Following</h6>
                <hr class="bg-white hr-2 w-75">
                <div class="follow-button-holder d-flex justify-content-center">
                    <a href="follow"><h6 class="text-center text-white">Following</h6></a>
                </div>
            </div>
            <div class="channel col mx-3 bg-mishmash rounded py-3">
                <h6 class="channel-name text-white text-center">SoftUni</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">Lesson Channel</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">10000 Following</h6>
                <hr class="bg-white hr-2 w-75">
                <div class="follow-button-holder d-flex justify-content-center">
                    <a href="follow"><h6 class="text-center text-white">Following</h6></a>
                </div>
            </div>
            <div class="channel col mx-3 bg-white rounded py-3"></div>
            <div class="channel col mx-3 bg-white rounded py-3"></div>
            <div class="channel col mx-3 bg-white rounded py-3"></div>
        </div>
    </div>
    <h5 class="mt-4 text-mishmash">Suggested</h5>
    <hr class="bg-mishmash hr-2">
    <div class="suggested-channels-holder">
        <div class="followed-channels-holder">
            <div class="channels-row row ">
                <div class="channel col mx-3 bg-mishmash rounded py-3">
                    <h6 class="channel-name text-white text-center">Markiplier</h6>
                    <hr class="bg-white hr-2 w-75">
                    <h6 class="channel-name text-white text-center">Game Channel</h6>
                    <hr class="bg-white hr-2 w-75">
                    <h6 class="channel-name text-white text-center">4500 Following</h6>
                    <hr class="bg-white hr-2 w-75">
                    <div class="follow-button-holder d-flex justify-content-between w-50 mx-auto">
                        <a href="follow"><h6 class="text-center text-white">Follow</h6></a>
                        <a href="follow"><h6 class="text-center text-white">Details</h6></a>
                    </div>
                </div>
                <div class="channel col mx-3 bg-mishmash rounded py-3">
                    <h6 class="channel-name text-white text-center">Gary's Channel</h6>
                    <hr class="bg-white hr-2 w-75">
                    <h6 class="channel-name text-white text-center">Motivational Channel</h6>
                    <hr class="bg-white hr-2 w-75">
                    <h6 class="channel-name text-white text-center">2200 Following</h6>
                    <hr class="bg-white hr-2 w-75">
                    <div class="follow-button-holder d-flex justify-content-between w-50 mx-auto">
                        <a href="follow"><h6 class="text-center text-white">Follow</h6></a>
                        <a href="follow"><h6 class="text-center text-white">Details</h6></a>
                    </div>
                </div>
                <div class="channel col mx-3 bg-white rounded py-3"></div>
                <div class="channel col mx-3 bg-white rounded py-3"></div>
                <div class="channel col mx-3 bg-white rounded py-3"></div>
            </div>
        </div>
    </div>
    <h5 class="mt-4 text-mishmash">See Other</h5>
    <hr class="mt-4 bg-mishmash hr-2">
    <div class="other-channels-holder mb-5">
        <div class="channels-row row ">
            <div class="channel col mx-3 bg-mishmash rounded py-3">
                <h6 class="channel-name text-white text-center">Markiplier</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">Game Channel</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">4500 Following</h6>
                <hr class="bg-white hr-2 w-75">
                <div class="follow-button-holder d-flex justify-content-between w-50 mx-auto">
                    <a href="follow"><h6 class="text-center text-white">Follow</h6></a>
                    <a href="follow"><h6 class="text-center text-white">Details</h6></a>
                </div>
            </div>
            <div class="channel col mx-3 bg-mishmash rounded py-3">
                <h6 class="channel-name text-white text-center">Gary's Channel</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">Motivational Channel</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">2200 Following</h6>
                <hr class="bg-white hr-2 w-75">
                <div class="follow-button-holder d-flex justify-content-between w-50 mx-auto">
                    <a href="follow"><h6 class="text-center text-white">Follow</h6></a>
                    <a href="follow"><h6 class="text-center text-white">Details</h6></a>
                </div>
            </div>
            <div class="channel col mx-3 bg-mishmash rounded py-3">
                <h6 class="channel-name text-white text-center">Markiplier</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">Game Channel</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">4500 Following</h6>
                <hr class="bg-white hr-2 w-75">
                <div class="follow-button-holder d-flex justify-content-between w-50 mx-auto">
                    <a href="follow"><h6 class="text-center text-white">Follow</h6></a>
                    <a href="follow"><h6 class="text-center text-white">Details</h6></a>
                </div>
            </div>
            <div class="channel col mx-3 bg-mishmash rounded py-3">
                <h6 class="channel-name text-white text-center">Markiplier</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">Game Channel</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">4500 Following</h6>
                <hr class="bg-white hr-2 w-75">
                <div class="follow-button-holder d-flex justify-content-between w-50 mx-auto">
                    <a href="follow"><h6 class="text-center text-white">Follow</h6></a>
                    <a href="follow"><h6 class="text-center text-white">Details</h6></a>
                </div>
            </div>
            <div class="channel col mx-3 bg-mishmash rounded py-3">
                <h6 class="channel-name text-white text-center">Markiplier</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">Game Channel</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">4500 Following</h6>
                <hr class="bg-white hr-2 w-75">
                <div class="follow-button-holder d-flex justify-content-between w-50 mx-auto">
                    <a href="follow"><h6 class="text-center text-white">Follow</h6></a>
                    <a href="follow"><h6 class="text-center text-white">Details</h6></a>
                </div>
            </div>
        </div>
        <div class="channels-row row mt-4">
            <div class="channel col mx-3 bg-mishmash rounded py-3">
                <h6 class="channel-name text-white text-center">Markiplier</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">Game Channel</h6>
                <hr class="bg-white hr-2 w-75">
                <h6 class="channel-name text-white text-center">4500 Following</h6>
                <hr class="bg-white hr-2 w-75">
                <div class="follow-button-holder d-flex justify-content-between w-50 mx-auto">
                    <a href="follow"><h6 class="text-center text-white">Follow</h6></a>
                    <a href="follow"><h6 class="text-center text-white">Details</h6></a>
                </div>
            </div>
            <div class="channel col mx-3 bg-white rounded py-3"></div>
            <div class="channel col mx-3 bg-white rounded py-3"></div>
            <div class="channel col mx-3 bg-white rounded py-3"></div>
            <div class="channel col mx-3 bg-white rounded py-3"></div>
        </div>
    </div>
</main>