<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/form-size.css">
</head>
<body>
<center>
    <p1 style = "font-size: 20px;"><b>Register:</b></p1><br><br>
    <form method="post">
        <p1 style = "font-size: 18px;"><b>Username:</b></p1><br>
        <input type="text" class="form-control input-lg" placeholder="username" name="username"><br><br>
        <p1 style = "font-size: 18px;"><b>Password:</b></p1><br>
        <input type="password" class="form-control input-lg" placeholder="password" name="password"><br><br>
        <p1 style = "font-size: 18px;"><b>Confirm Password:</b></p1><br>
        <input type="password" class="form-control input-lg" placeholder="confirmPassword" name="confirmPassword"><br><br>
        <p1 style = "font-size: 18px;"><b>Email:</b></p1><br>
        <input type="email" class="form-control input-lg" placeholder="email" name="email"><br><br>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <br>
    <button type="button" class="btn btn-primary" size="35px" onclick="window.location='/'">Back</button>
</center>
</body>
</html>