<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<center>
    <h1><b>USER HOME</b></h1>
    <h1 th:text="${username}"></h1>
    <h1 th:text="${email}"></h1>
    <button type="button" class="btn btn-primary" size="35px" onclick="window.location='/logout'">Logout</button>
</center>
</body>
</html>