<h1>Teams</h1>
<form class="search">
    <label>Seach: </label>
    <input type="text">
    <input type="submit" value="Search">
</form>
<div class="teams">
    <div class="team">
        <h2>Developers</h2>
        <div class="team-info">
            <h3>Members</h3>
            <p>Hristomir Asenov</p>
            <p>Pesho Peshev</p>
        </div>
        <div class="team-info">
            <h3>Projects</h3>
            <p>Team has no projects</p>
        </div>
    </div>
    <div class="team">
        <h2>Students</h2>
        <div class="team-info">
            <h3>Members</h3>
            <p>Tanya Staneva</p>
            <p>Gosho Goshev</p>
        </div>
        <div class="team-info">
            <h3>Projects</h3>
            <p>Blood Donnorship</p>
        </div>
    </div>
    <div class="team">
        <h2>Strawberries</h2>
        <div class="team-info">
            <h3>Members</h3>
            <p>Team has no members</p>
        </div>
        <div class="team-info">
            <h3>Projects</h3>
            <p>Team has no projects</p>
        </div>
    </div>
</div>