{{> notAuthenticatedMenu}}
<div class="container centered">
    <header>&#9993; Contact Book</header>
    <div class="box">
        <h1>Register</h1>
        <div class="content">
            <form id="register-form" action="#/register" method="post">
                <label for="newUsername">Username</label>
                <input id="newUsername" type="text" name="username">

                <label for="newPassword">Password</label>
                <input id="newPassword" type="password" name="password">

                <label for="newPassRep">Repeat Password</label>
                <input id="repeatPassword" type="password" name="repeatPassword">

                <label for="firstName">First Name</label>
                <input id="firstName" type="text" name="firstName">

                <label for="lastName">Last Name</label>
                <input id="lastName" type="text" name="lastName">

                <label for="email">Email</label>
                <input id="email" type="text" name="email">

                <label for="telephone">Telephone</label>
                <input id="telephone" type="text" name="telephone">

                <input type="submit" value="Register">
            </form>
        </div>
    </div>
    <footer>Contact Book SPA &copy; 2017</footer>
</div>