<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/projects/all">Projects</a></li>
    <li><a href="/teams/all">Teams</a></li>
    <li><a href="/team/create">Create Team</a></li>
    <li><a href="/project/create">Create Project</a></li>
    <div class="right">
        <li>Welcome, Admin!</li>
        <li><a href="/user/profile">Profile</a></li>
        <li>
            <form id="logout-form" action="/logout" method="post"></form>
            <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
        </li>
    </div>
</ul>